<?xml version="1.0" encoding="UTF-8"?>
<suite name="Wildberries suite">
    <listeners>
        <listener class-name="by.wildberries.core.common.AnnotationTransformer"/>
    </listeners>

    <test name="Search tests">
        <classes>
            <class name="exam.by.wildberries_project.functional.tests.WBSearchTests"/>
        </classes>
    </test>
    <test name="Login tests">
        <classes>
            <class name="exam.by.wildberries_project.functional.tests.WBLoginTests"/>
        </classes>
    </test>
    <test name="Navigation tests">
        <classes>
            <class name="exam.by.wildberries_project.functional.tests.WBNavigationTests"/>
        </classes>
    </test>
    <test name="Factory tests">
        <classes>
            <class name="exam.by.wildberries_project.functional.tests.factory.WBSearchTestsFactory"/>
        </classes>
    </test>
</suite>